<div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">
                    <if condition="$params['menuId']">
                      编辑菜单
                    <else />
                      添加菜单
                    </if>
              </h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="modal_div">
                  <form role="form" class="form-inline">
                    <div class="form-group col-lg-12">
                      <label class="col-lg-3">菜单名称：</label>
                      <input class="form-control" name="title" value="{$info.title}">
                    </div>

                    <div class="form-group col-lg-12">
                      <label class="col-lg-3">父菜单</label>
                      <select class="form-control" name="parentMenuId" <if condition="$params['menuId']">disabled</if>>
                            <option value="0"></option>
                          <foreach name="menuListLevel1" item="vo">
                            <option value="{$vo.id}" <if condition="$vo['id']==$info['pid']">selected</if>>{$vo.title}</option>
                          </foreach>
                      </select>
                    </div>

                    <div class="form-group col-lg-12">
                      <label class="col-lg-3">路径：</label>
                      <input class="form-control" placeholder="例:/Admin/Node/nodes" name="path" value="{$info.path}" <if condition="$info[level]==1">disabled</if>
                          <?php
                            if(in_array($info['id'],$MENU_ID_UNDELETE)){
                              echo "disabled";
                            }
                          ?>
                      >
                    </div>

                    <div class="form-group col-lg-12">
                      <label class="col-lg-3">排序：</label>
                      <input class="form-control" placeholder="" name="sort" value="{$info.sort}">
                    </div>

                    <div class="form-group col-lg-12">
                      <label class="col-lg-3">是否显示：</label>
                      <label class="radio-inline">
                        <input type="radio" <if condition="$info[is_show]==1">checked</if> <if condition="$info[is_show]===null">checked</if> value="1"  name="isShow" >是
                      </label>
                      <label class="radio-inline">
                        <input type="radio" <if condition="$info[is_show]==='0'">checked</if> value="0"  name="isShow">否
                      </label>
                    </div>

                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="menuId" value="{$info['id']}">
              <button type="button" class="btn btn-default"
               data-dismiss="modal">关闭</button>
              <button type="button" class="btn btn-primary editMenuAjax">提交</button>
            </div>
          </div>
</div>